# Environment variables and secrets
.env_variables.json
.env_shell.json
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
ENV/

# Whisper cache
whisper_cache/

# Logs
*.log
logs/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
local_testing/
original_source/

# Test files & folders
test/
tests/
*_test.*
*_tests.*
test_*.py
test_*.txt

# Generated media files
*.mp4
*.srt
*.ass
*.wav
*.mp3

# Temporary files
tmp/
temp/

# Exclude sensitive files
key.json
